*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    min-height:100vh;
}
/* code for message display */

.message-container{
    position: absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:#000000ee;
    display:flex;
    justify-content: center;
    transition: .3s ease-in-out;
    display: none;
}

.message{
    position: relative;
    margin-top: 100px;
    width:300px;
    padding:10px;
    height:50px;
    background:white;
    font-weight: 500;
    border-radius: 60px 60px 60px 0px;
    box-shadow: 0px 0px 20px 2px #010014;
}
.message p{
    position: absolute;
    top:50%;
    margin-left:20px;
    transform: translateY(-50%);
    font-size: 14px;
}
.message button{
   position: absolute;
   right:7px;
   top:50%;
   transform: translateY(-50%);
   width:40px;
   height:40px;
   background:#9c0130;
   outline:none;
   color:white;
   box-shadow: 0px 0px 2px 1px #920327;
   border-radius: 50%;
   border:none;
}

/* head */

.head{
    width:100vw;
    padding:20px;
}

.head h1{
    text-align: center;
    color:#5f5d5d;
}

.head span{
    color:#999999ef;
   font-weight: 400;
}

/* nav */

.nav-container{
    width:100vw;
    padding:20px 0px;
}

.nav-container ul{
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-container ul button{
    background: #ffffff;
    width:100px;
    border:none;
    border-radius: 15px;
    padding-top:5px;
    padding-bottom: 6px;
    outline:none;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.nav-container .instagram{
    color:#ffffff;
    background: linear-gradient(45deg, #a5016e,#c2170b);
}
.nav-container .youtube{
    color:#ffffff;
    background: linear-gradient(45deg, #a50101,#ff2515);
}



/* search */

.searchbar{
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0px;
    
    visibility: hidden;
    transition: .2s ease-in-out;
}

.searchbar .form{
    width:320px;
    /* background: red; */
    text-align: center;
    position: relative;
}

.searchbar .form button{
    background:transparent;
    outline: none;
    border:none;
}
.searchbar .form input{
    text-align: center;
    width:290px;
    height:30px;
    border-radius: 15px;
    border:none;
    box-shadow: 0px 0px 7px 2px #d3d3d4;
    padding-left:20px;
    padding-right: 35px;
    outline:none;
}


.searchbar .form input::-webkit-input-placeholder{
    color:#bebcbc;
    
}


.searchbar .form input::-moz-placeholder
{
    color:#bebcbc;
}
.searchbar .form input::placeholder
{
    color:#bebcbc;
}

.searchbar .form a{
    position: absolute;
    top:50%;
    right:20px;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
    width:30px;
    color:#bfbfc0;
}

/* issues */
.issue
{
    width:100vw;
    position: absolute;
    bottom:40px;
    padding-bottom:20px;
    text-align: center;
    font-size: 12px;
    color:#504f4f;
}

.issue a{
    text-decoration: none;
    background:#ffffff;
    color:#979797;
    box-shadow: 0px 0px 12px 1px #d3d1d1;
    padding:0px 10px;
    padding-top:0px;
    padding-bottom:2px;
    border-radius:10px;
}


/* footer */
.footer{
    width:100vw;
    text-align: center;
    position: absolute;
    bottom:0px;
    padding:10px 0px;
    background: #0c0027;
    color:#d5c0fc;
    font-size: 12px;
}

.footer p span{
    color:#947af1;
}

@media screen and (max-width:500px)
{
    
    .nav-container ul button{
        background: #ffffff;
        width:100px;
        border:none;
        border-radius: 15px;
        padding-top:7px;
        padding-bottom: 8px;
        outline:none;
        cursor: pointer;
        transition: .1s ease-in-out;
    }

    .searchbar .form input{
        text-align: center;
        width:290px;
        height:36px;
        border-radius: 17px;
        border:none;
        box-shadow: 0px 0px 7px 2px #d3d3d4;
        padding-left:20px;
        padding-right: 35px;
        outline:none;
    }

    .searchbar .form a{
        position: absolute;
        top:50%;
        right:25px;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
        width:30px;
        font-size: 18px;
        color:#bfbfc0;
    }

    .issue a{
        text-decoration: none;
        background:#ffffff;
        color:#979797;
        box-shadow: 0px 0px 12px 1px #d3d1d1;
        padding:0px 13px;
        padding-top:3px;
        padding-bottom:5px;
        border-radius:15px;
    }
    

}