*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* code for message display */

.message-container{
    position: absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:#000000ee;
    display:flex;
    justify-content: center;
    transition: .3s ease-in-out;
    display: none;
}

.message{
    position: relative;
    margin-top: 100px;
    width:300px;
    padding:10px;
    height:50px;
    background:white;
    font-weight: 500;
    border-radius: 60px 60px 60px 0px;
    box-shadow: 0px 0px 20px 2px #010014;
}
.message p{
    position: absolute;
    top:50%;
    margin-left:20px;
    transform: translateY(-50%);
    font-size: 14px;
}
.message button{
   position: absolute;
   right:7px;
   top:50%;
   transform: translateY(-50%);
   width:40px;
   height:40px;
   background:#9c0130;
   outline:none;
   color:white;
   box-shadow: 0px 0px 2px 1px #920327;
   border-radius: 50%;
   border:none;
}

/* head */

.head{
    width:100vw;
    padding:20px;
}

.head h1{
    text-align: center;
    color:#5f5d5d;
}

.head span{
    color:#999999ef;
    
   font-weight: 400;
}


/* nav */

.nav-container{
    width:100vw;
    padding:20px 0px;
}

.nav-container ul{
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-container ul button{
    background: #ffffff;
    width:100px;
    border:none;
    border-radius: 15px;
    padding-top:5px;
    padding-bottom: 6px;
    outline:none;
    cursor: pointer;
    transition: .1s ease-in-out;
}

.nav-container .video{
    color:#5a0000;
    box-shadow:0px 0px 12px 1px #cccccc;
    background:#fff;
    
}
.nav-container .audio{
    color:#ffffff;
    background: linear-gradient(45deg, #a50101,#ff2515);
}


/* videos */
.videoContainer, .audioContainer{
    width:100vw;
    padding:20px;
}
.audioContainer{
    display: none;
}
table{
    width:90vw;
    max-width:390px;
    min-width:260px;
    position: relative;
    left:50%;
    padding:10px;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
    border-radius: 5px;
    font-size: 13px;
    box-shadow: 0px 0px 12px 1px #dad8d8;
}



table tr td{
    text-align: center;
    padding:10px 0px;
    border-bottom:1px solid #eeeeeeee;
}

table tr td a{
    text-decoration: none;
    color:#fff;
    background:green;
    padding:3px 12px;
    font-size: 10px;
    border-radius: 12px;
}

table tr td a:focus{
    text-decoration: none;
    color:#009213;
    background:#ffffff;
    box-shadow: 0px 0px 7px 1px #d4d4d4ee;
    padding:3px 12px;
    font-size: 10px;
    border-radius: 12px;
}

table tr td span{
    color:white;
    font-size: 9px;
    position: absolute;
    left:3px;
    top:5px;
    font-weight: 600;
    background: green;
    padding:3px;
    border-radius:80% 80% 0px 80%;
}

/* issues */
.issue
{
    width:100vw;
    position: absolute;
    bottom:40px;
    padding-bottom:20px;
    text-align: center;
    font-size: 12px;
    color:#504f4f;
}

.issue a{
    text-decoration: none;
    background:#ffffff;
    color:#979797;
    box-shadow: 0px 0px 12px 1px #d3d1d1;
    padding:0px 10px;
    padding-top:0px;
    padding-bottom:2px;
    border-radius:10px;
}

/* footer */
.footer{
    width:100vw;
    text-align: center;
    position: absolute;
    bottom:0px;
    padding:10px 0px;
    background: #0c0027;
    color:#d5c0fc;
    font-size: 12px;
}

.footer p span{
    color:#947af1;
}


@media screen and (max-width:500px)
{
    .nav-container ul button{
        background: #ffffff;
        width:100px;
        border:none;
        border-radius: 15px;
        padding-top:7px;
        padding-bottom: 8px;
        outline:none;
        cursor: pointer;
        transition: .1s ease-in-out;
    }

    table tr td a{
        text-decoration: none;
        color:#fff;
        background:green;
        padding:5px 18px;
        font-size: 11px;
        border-radius: 12px;
    }

    table tr td a:focus{
        text-decoration: none;
        color:#009213;
        background:#ffffff;
        box-shadow: 0px 0px 7px 1px #d4d4d4ee;
        padding:5px 18px;
        font-size: 11px;
        border-radius: 12px;
    }

    .issue a{
        text-decoration: none;
        background:#ffffff;
        color:#979797;
        box-shadow: 0px 0px 12px 1px #d3d1d1;
        padding:0px 13px;
        padding-top:3px;
        padding-bottom:5px;
        border-radius:15px;
    }

}